body{
    background: pink;
   
}
nav{
    background: black;
    opacity: 0.6;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
nav a:hover{
    background: pink;
   
}
nav a{
    text-decoration: none;
    color: purple;
    font-size: 25px;
    padding: 40px;
}
#menus{
    border: 1px solid purple;
    border-radius: 10px;
    width: 250px;
    margin: 20px;
    line-height: 30px;
}
h3{
    text-align: center;
}
#menus nav a{
    /* padding: 5px; */
    padding: 10px;

}
#menus nav a:hover{

}

nav a:focus{ /*quand on clicque dessus*/
    background: red;
}
input .rouge:focus{
    background:red;
}
